<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>catName</key>
		<string>中华田园猫</string>
		<key>catImage</key>
		<string>家猫.png</string>
		<key>capacity</key>
		<string>50元</string>
		<key>integral</key>
		<string>0积分</string>
		<key>conversion</key>
		<string>0mm币</string>
		<key>award</key>
		<string>5mm币－100mm币</string>
	</dict>
	<dict>
		<key>catName</key>
		<string>暹罗猫</string>
		<key>catImage</key>
		<string>暹罗.png</string>
		<key>capacity</key>
		<string>150元</string>
		<key>integral</key>
		<string>2000积分</string>
		<key>conversion</key>
		<string>10mm币</string>
		<key>award</key>
		<string>20mm币－500mm币</string>
	</dict>
	<dict>
		<key>catName</key>
		<string>苏格兰折耳猫</string>
		<key>catImage</key>
		<string>折耳.png</string>
		<key>capacity</key>
		<string>300元</string>
		<key>integral</key>
		<string>2000积分</string>
		<key>conversion</key>
		<string>0mm币</string>
		<key>award</key>
		<string>40mm币－1000mm币</string>
	</dict>
	<dict>
		<key>catName</key>
		<string>英国短毛猫</string>
		<key>catImage</key>
		<string>美短.png</string>
		<key>capacity</key>
		<string>500元</string>
		<key>integral</key>
		<string>2000积分</string>
		<key>conversion</key>
		<string>0mm币</string>
		<key>award</key>
		<string>50mm币－2000mm币</string>
	</dict>
	<dict>
		<key>catName</key>
		<string>加菲猫</string>
		<key>catImage</key>
		<string>加菲.png</string>
		<key>capacity</key>
		<string>1000元</string>
		<key>integral</key>
		<string>0积分</string>
		<key>conversion</key>
		<string>0mm币</string>
		<key>award</key>
		<string>70mm币－3000mm币</string>
	</dict>
	<dict>
		<key>catName</key>
		<string>波斯猫</string>
		<key>catImage</key>
		<string>波斯猫.png</string>
		<key>capacity</key>
		<string>2000元</string>
		<key>integral</key>
		<string>2000积分</string>
		<key>conversion</key>
		<string>0mm币</string>
		<key>award</key>
		<string>90mm币－4000mm币</string>
	</dict>
	<dict>
		<key>catName</key>
		<string>布偶猫</string>
		<key>catImage</key>
		<string>布偶.png</string>
		<key>capacity</key>
		<string>5000元</string>
		<key>integral</key>
		<string>2000积分</string>
		<key>conversion</key>
		<string>0mm币</string>
		<key>award</key>
		<string>150mm币－5000mm币</string>
	</dict>
</array>
</plist>
